@tailwind base;
@tailwind components;
@tailwind utilities;


/* Optional global defaults */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #f8fafc;
  color: #1e293b;
}

body {
  @apply m-0 flex min-h-screen flex-col items-center justify-center;
}

a {
  @apply font-medium text-blue-500 hover:text-blue-600;
}

button {
  @apply rounded-lg border border-transparent bg-gray-800 px-4 py-2 text-white transition hover:border-blue-500;
}
